@model SprinklerNetCore.Models.SprinklerProgram
@using  SprinklerNetCore.Resources

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateTimeStart" class="control-label"></label>
                <input type="datetime-local" class="form-control" min=@ViewData["DateTimeMin"] asp-for="DateTimeStart" />
                <span asp-validation-for="DateTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <select asp-for="Number" class="form-control" asp-items="ViewBag.sprinklers"></select>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <input asp-for="id" class="form-control" hidden="hidden" />
            <div class="form-group">
                <input type="submit" value="@Text.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Text.IndexBackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
